* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

h1 {
    color: rgb(251, 247, 255);
    font-size: 4rem;
    line-height: 90%;
    font-family: 'Lato black', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.253);
}

p {
    font-family: "Roboto";
    font-size: 1rem;
}

/* NavBar */

a {
    text-decoration: none;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    text-transform:uppercase;
    color: azure;
    text-align: center;
    letter-spacing: 0.05rem;
}

a:hover {
    color: orange;
    transition: color .5s;
    transform: matrix(122,233,444);
    z-index: 15;
}

.navbar {
    background-color: rgba(46, 46, 46, 0.904);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 6vh;
}

#logo {
    width: 80px;
    margin: 1vh 5vw;
}

ul {
    display: flex;
    align-items: baseline;
    margin-right: 5vw;
}

li {
    margin: 1vh 1vw;
    list-style-type: none;
}


/* MAIN Home */

.mainTop {
    display: flex;
    min-height: 90vh;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(90, 90, 90, 0.582), rgba(0, 0, 0, 0.7));
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 500px;
    min-width: 400px;

    margin-top: -15vh;

}

h3 {
    margin: 0.5rem 0;
    font-weight: 700;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    color: rgb(243, 243, 243);
}

.text {
    margin: 1rem 0 0 0;

    font-family: 'Roboto', Courier, monospace;
    font-weight: 400;
    font-size: 1rem;

    text-align:justify;
    color: rgb(243, 243, 243);
}

.highligthText {
    color: rgb(255, 201, 101);
    font-weight: 700;
}

#mainButton {
    align-self: flex-start;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 3vh;

    background-color: rgb(216, 129, 16);
    color: white;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 600;

    border-color: rgba(228, 133, 8, 0.075);
    padding: 0.75rem;

    cursor: pointer;
}

#mainButton:hover {
    transition: 0.2s;
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.650);
}

#videoBackground {
    position: absolute;
    resize: both;
    border: 0;
    max-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
}

/* Tabla */
.mainTable {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgb(248, 223, 192), rgb(253, 209, 155));
    text-align: center;

    width: 80%;
    max-width: 1000px;
    min-width: 800px;

    border-radius: 0.5rem;
    padding: 2rem;
    margin: -5vh 2rem 1rem 2rem;
    box-shadow: 0.3vw 0.3vh 0.6vh rgba(41, 41, 41, 0.164);

    min-height: 30vh;
}

.tableCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    z-index: 15;

    height: 275px;
    width: 175px;

    padding: 2rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgb(248, 248, 248), rgb(240, 240, 240));
    
}

.tableCard:hover {
    transition: 0.2s;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.450);
}

#cardImg1 {
    max-width: 120px;
}

#cardImg2 {
    max-width: 80px;
}

.cardTitle{
    color: orange;
}

.cardLink {
    color: orange;
}

.cardLink:hover {
    color: red;
    transition: 0.5s;
}

hr {
    margin: 3rem;
    border-radius: 0.5rem;
    border-color: rgba(255, 166, 0, 0.26);
    border-style: solid;

    width: 30vw;
}

/* Páginas alternas*/

.pageContainer {
    background-color: rgb(255, 249, 242);
    border-radius: 8px;

    margin: 5vh 5vw;
    padding: 2vh;

    box-shadow: 0.3vw 0.5vh 5px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1366px;
    
}

/* Encabezado Páginas Alternas*/

.topPag {
    display: flex;
    flex-direction: row;
    max-width: 1366px;

}

.topImageContainer {
    position: relative;
    max-width: 45%;
    margin-left: 3vw;
}

.topImage {
    margin-top: -5vh;
    width: 100%;
    height: 60vh;
    min-height: 35vh;
    position: sticky;
    top: 5vh;
    border-radius: 8px;

    z-index: 5;
    
    object-fit: cover;    
    box-shadow: 0.1vw 0.3vh 0.5vh rgba(24, 24, 24, 0.274);
}

.verticalLine {
    transform: rotate(90deg);
    width: 80%;
    
}

.pageTitle {
    display: flex;
    flex-direction: column;

    margin: 10vh 10vw;
}

.pageTitle h1 {
    font-size: 7rem;
    color: rgb(219, 107, 15);
    text-shadow: 0 0 0;
}

.pageTitle h1:hover {
    transition: 0.2s;
    transform: translate(-2px, -2px);
    text-shadow: 3px 3px 1px rgba(168, 168, 168, 0.8);
}

.pageTitle p {
    font-size: 1.25rem;
    color: rgb(80, 80, 80);
    text-align: justify;
    margin-left: 0.4vw;
}


/* Items Páginas Alternas*/

.pageRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 500px;

    margin: 5vh 0;
}

.pageItem:hover h2{
    color: rgb(255, 84, 42);
    transition: 0.5s;
}

.pageItemPic {
    border-radius: 4px;
    box-shadow: 0.3vh 0.3vw 0.4vh rgba(20, 20, 20, 0.212);

    filter: grayscale(100%) opacity(60%);
}

.pageItemPic:hover {
    filter: grayscale(45%) opacity(100%);
    transition: 0.5s;
}

#picPosition0 {
    position: relative;
    z-index: 1;
    top: 0vh;
    left: 0vw;
    transform: rotate(-5deg);

    max-width: 22vw;
    max-height: 22vh;
}

#picPosition1 {
    position: relative;
    z-index: 1;
    top: 0vh;
    left: 0vw;
    transform: rotate(10deg);

    max-width: 20vw;
    max-height: 20vh;
}

.pageItem h2 {
    font-family: "Lato";
    font-weight: 900;
    font-size: 2rem;
    z-index: 2;
    color: rgb(56, 56, 56);

    margin: 1vh 0
}

.pageItem p {
    font-size: 1rem;
    color: rgb(80, 80, 80);
    text-align: justify;
    margin-left: 0.4vw;
}

.pageItemPicCont {
    display: flex;
}

#picPosition2 {
    position: relative;
    z-index: 1;
    top: 1vh;
    left: 2vw;
    transform: rotate(-5deg);

    max-width: 20vw;
    max-height: 20vh;
    object-fit: none;
}
#picPosition3 {
    position: relative;
    z-index: 1;
    top: 2vh;
    left: 2vw;
    transform: rotate(6deg);

    max-width: 20vw;
    max-height: 20vh;
}
.buttonWrap {
    display: flex;
    justify-content: center;
    padding: 2vh;
    margin: 2vh;
}
.pageButton {
    padding: 0.5rem;
    border-radius: 0.5rem;

    background-color: rgb(216, 129, 16);
    color: white;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 600;

    border-color: rgba(228, 133, 8, 0.075);
    padding: 0.75rem;

    cursor: pointer;

    min-width: 20vw;
}

.pageButton:hover {
    transition: 0.2s;
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.747);
}


/* GRID de Páginas Alternas*/
.gridProyectos {
    display: grid;
    grid-template-areas: 
        "header header header header"
        "proy proy proy proy"
        "proy proy proy proy";
    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: auto 150px 150px;

    justify-items: center;
    align-items: center;
}

.gridProyectos #header {
    grid-area: header;
}

.gridProyectos h2 {
    font-family: "Lato";
    font-weight: 900;
    font-size: 2rem;
    z-index: 2;
    color: rgb(219, 107, 15);

    margin: 2vh;
}

.gridImg {
    object-fit: cover;
    border-radius: 8px;
    max-width: 200px;

    filter: grayscale(100%) opacity(60%)

}

.gridImg:hover {
    transition: 0.4s;
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 1px rgba(219, 107, 15, 0.9);

    filter: grayscale(40%) opacity(100%)
}

/* FOOTER */
footer {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 75px;


    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

footer p {
    color:rgb(187, 187, 187);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.75rem;
}

footer a {
    margin: 1rem;
}

/* MEDIA QUERY */

@media only screen and (max-width: 1024px) {
    .mainTop {justify-content: center;}
    .space {display: disabled;}

    .mainTable {min-width: auto;}
    .tableCard {max-width: 125px; max-height: 150px;}
    #cardImg1 {max-width: 60px;}
    #cardImg2 {max-width: 40px;}
    .tableCard p {font-size: 0.75rem;}
}

@media only screen and (max-width: 768px) {
    #logo {display: none;}
    .navbar {justify-content: center;}
    ul {margin: 0}

    a {font-size: 0.5rem;}

    h1 {font-size: 3rem;}
    h3 {font-size: 1rem;}
    .text {font-size: 0.75rem;}
    
    .mainTitle {max-width: 70%; min-width: 60%;}
    .mainTop {justify-content: center;}
    .space {display: disabled;}

    

    .mainTable {max-width: 70%; flex-direction: column; margin-top: -10vh}
    .tableCard {min-width: 150px; min-height: 200px; margin: 3vh 0;}

    .socialMedia {display: flex; flex-direction: column; margin: 0; align-items: flex-start;}
    footer a {margin: 0.25rem}

}