* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: #fbf7ff;
  font-size: 4rem;
  line-height: 90%;
  font-family: 'Lato black', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.253);
}

p, .page__container .page__rz .page__form__cont .page__form__cont__content .page__form__cont__content__label {
  font-family: "Roboto";
  font-size: 1rem;
}

.separador {
  margin: 3rem;
  border-radius: 0.5rem;
  border-style: solid;
  color: rgba(255, 166, 0, 0.699);
  width: 30vw;
}

.navbar {
  background-color: rgba(46, 46, 46, 0.904);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.308);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.308);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 6vh;
}

.navbar .navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 5vh;
}

.navbar .navbar__ul .navbar__ul__li {
  margin: 1vh 1vw;
  list-style-type: none;
}

.navbar .navbar__ul .navbar__a {
  text-decoration: none;
  font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: azure;
  text-align: center;
  letter-spacing: 0.05rem;
}

.navbar .navbar__ul .navbar__a:hover {
  color: orange;
  -webkit-transition: color .5s;
  transition: color .5s;
  z-index: 15;
}

.navbar .navbar__logo {
  width: 110px;
  margin: 1vh 5vw;
}

/*MAIN TOP*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  width: 100%;
  max-width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__videoBackground {
  position: absolute;
  resize: both;
  border: 0;
  max-width: 100%;
  min-height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.582)), to(rgba(0, 0, 0, 0.486)));
  background: linear-gradient(180deg, rgba(90, 90, 90, 0.582), rgba(0, 0, 0, 0.486));
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 500px;
  min-width: 400px;
  margin-top: -15vh;
}

.main__subtitle {
  margin: 0.5rem 0;
  font-weight: 700;
  font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.75rem;
  color: #f3f3f3;
}

.main__text {
  margin: 1rem 0 0 0;
  font-family: 'Roboto', Courier, monospace;
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
  color: #f3f3f3;
}

.main__text__hightlited {
  color: #ffc965;
  font-weight: 700;
}

.main__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 3vh;
  background-color: #d88110;
  color: white;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 600;
  border-color: rgba(228, 133, 8, 0.075);
  padding: 0.75rem;
  cursor: pointer;
}

.main__button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.65);
          box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.65);
}

/*TABLA*/
.cards {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8dfc0), to(#fdd19b));
  background: linear-gradient(180deg, #f8dfc0, #fdd19b);
  text-align: center;
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: -5vh 2rem 1rem 2rem;
  -webkit-box-shadow: 0.3vw 0.3vh 0.6vh rgba(41, 41, 41, 0.164);
          box-shadow: 0.3vw 0.3vh 0.6vh rgba(41, 41, 41, 0.164);
  min-height: 30vh;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 15;
  height: 275px;
  width: 175px;
  padding: 2rem;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f0f0f0));
  background: linear-gradient(180deg, #f8f8f8, #f0f0f0);
}

.cards__item:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.45);
          box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.45);
}

#cards__item__img1 {
  max-width: 120px;
}

#cards__item__img2 {
  max-width: 80px;
}

.cards__title {
  color: orange;
}

.cards__link {
  text-decoration: none;
  font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: orange;
  text-align: center;
  letter-spacing: 0.05rem;
}

.cards__link:hover {
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1220px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__space {
    display: none;
  }
  .main__videoBackground {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cards {
    min-width: auto;
  }
  .cards__item {
    max-width: 135px;
    max-height: 250px;
  }
  #cards__item__img1 {
    max-width: 60px;
  }
  #cards__item__img2 {
    max-width: 40px;
  }
  .cards__item p, .cards__item .page__container .page__rz .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .cards__item .page__form__cont__content__label {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .navbar__ul {
    margin-right: 0vw;
  }
  .navbar .navbar__ul .navbar__a {
    font-size: 0.65rem;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .main__text {
    font-size: 0.75rem;
  }
  .main__title {
    max-width: 70%;
    min-width: 60%;
  }
  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__space {
    display: none;
  }
  .cards {
    max-width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -10vh;
  }
  .cards__item {
    min-width: 60%;
    min-height: 200px;
    margin: 3vh 0;
  }
  .cards__title {
    font-size: 1.25rem;
  }
  #cards__item__img1 {
    max-width: 50%;
  }
  #cards__item__img2 {
    max-width: 40%;
  }
  .cards__item p, .cards__item .page__container .page__rz .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .cards__item .page__form__cont__content__label {
    font-size: 1rem;
  }
  .socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .socialMedia .footer__a {
    font-size: 0.65rem;
    margin: 2px;
  }
  footer a {
    margin: 0.25rem;
  }
}

footer {
  background-color: #292929;
  color: white;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p, footer .page__container .page__rz .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content footer .page__form__cont__content__label {
  color: #bbbbbb;
  font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.75rem;
  margin: 0;
}

footer .footer__a {
  margin: 1rem;
  text-decoration: none;
  font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: azure;
  text-align: center;
  letter-spacing: 0.05rem;
}

footer .footer__a:hover {
  color: orange;
  -webkit-transition: color .5s;
  transition: color .5s;
  z-index: 15;
}

.page__container {
  background-color: #fff9f2;
  border-radius: 8px;
  margin: 5vh 5vw 0 5vw;
  padding: 2vh;
  -webkit-box-shadow: 0.3vw 0.5vh 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0.3vw 0.5vh 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1366px;
}

.page__container .page__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1366px;
}

.page__container .page__top .page__top__image__container {
  position: relative;
  max-width: 45%;
  margin-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__container .page__top .page__top__image__container .page__top__image__container__content {
  margin-top: -5vh;
  width: 100%;
  height: 60vh;
  min-height: 35vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  border-radius: 8px;
  z-index: 5;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0.1vw 0.3vh 0.5vh rgba(24, 24, 24, 0.274);
          box-shadow: 0.1vw 0.3vh 0.5vh rgba(24, 24, 24, 0.274);
}

.page__container .page__verticalLine {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 120%;
  border-color: orange;
  -ms-grid-column-align: center;
      justify-self: center;
}

.page__container .page__rz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__container .page__rz .page__top__title, .page__container .page__rz .page__top__title--large, .page__container .page__rz .page__top__title--largeXL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10vh 10vw;
}

.page__container .page__rz .page__top__title h1, .page__container .page__rz .page__top__title--large h1, .page__container .page__rz .page__top__title--largeXL h1 {
  font-size: 7rem;
  color: #db6b0f;
  text-shadow: 0 0 0;
}

.page__container .page__rz .page__top__title h1:hover, .page__container .page__rz .page__top__title--large h1:hover, .page__container .page__rz .page__top__title--largeXL h1:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  text-shadow: 3px 3px 1px rgba(168, 168, 168, 0.8);
}

.page__container .page__rz .page__top__title p, .page__container .page__rz .page__top__title--large p, .page__container .page__rz .page__top__title--largeXL p, .page__container .page__rz .page__top__title .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__top__title .page__form__cont__content__label, .page__container .page__rz .page__top__title--large .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__top__title--large .page__form__cont__content__label, .page__container .page__rz .page__top__title--largeXL .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__top__title--largeXL .page__form__cont__content__label {
  font-size: 1.25rem;
  color: #505050;
  text-align: justify;
  margin: 0 0 0 0.4vw;
}

.page__container .page__rz .page__top__title #h1--contacto, .page__container .page__rz .page__top__title--large #h1--contacto, .page__container .page__rz .page__top__title--largeXL #h1--contacto {
  text-align: center;
}

.page__container .page__rz .page__top__title--largeXL h1 {
  font-size: 6rem;
}

.page__container .page__rz .separador--res {
  display: none;
  border-color: orange;
  border-style: solid;
  width: 80%;
}

.page__container .page__rz .page__rz__item, .page__container .page__rz .page__rz__item--esp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  margin: 5vh 0;
}

.page__container .page__rz .page__rz__item h2, .page__container .page__rz .page__rz__item--esp h2 {
  font-family: "Lato";
  font-weight: 900;
  font-size: 2rem;
  z-index: 2;
  color: #383838;
  margin: 1vh 0;
}

.page__container .page__rz .page__rz__item p, .page__container .page__rz .page__rz__item--esp p, .page__container .page__rz .page__rz__item .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__rz__item .page__form__cont__content__label, .page__container .page__rz .page__rz__item--esp .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__rz__item--esp .page__form__cont__content__label {
  font-size: 1rem;
  color: #505050;
  text-align: justify;
  margin-left: 0.4vw;
}

.page__container .page__rz .page__rz__item .page__rz__item__img__cont, .page__container .page__rz .page__rz__item--esp .page__rz__item__img__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__container .page__rz .page__rz__item:hover h2, .page__container .page__rz .page__rz__item--esp:hover h2 {
  color: #ff542a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page__container .page__rz .page__rz__item--esp {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.page__container .page__rz .page__rz__img {
  border-radius: 4px;
  -webkit-box-shadow: 0.3vh 0.3vw 0.4vh rgba(20, 20, 20, 0.212);
          box-shadow: 0.3vh 0.3vw 0.4vh rgba(20, 20, 20, 0.212);
  -webkit-filter: grayscale(100%) opacity(60%);
          filter: grayscale(100%) opacity(60%);
}

.page__container .page__rz .page__rz__img:hover {
  -webkit-filter: grayscale(45%) opacity(100%);
          filter: grayscale(45%) opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page__container .page__rz #page__rz__img__position--1 {
  position: relative;
  z-index: 1;
  top: 0vh;
  left: 0vw;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 200px;
  max-width: 22vw;
  max-height: 22vh;
}

.page__container .page__rz #page__rz__img__position--2 {
  position: relative;
  z-index: 1;
  top: 0vh;
  left: 0vw;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 200px;
  max-width: 20vw;
  max-height: 20vh;
}

.page__container .page__rz #page__rz__img__position--3 {
  position: relative;
  z-index: 1;
  top: 1vh;
  left: 2vw;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 200px;
  max-width: 20vw;
  max-height: 20vh;
  -o-object-fit: none;
     object-fit: none;
}

.page__container .page__rz #page__rz__img__position--4 {
  position: relative;
  z-index: 1;
  top: 2vh;
  left: 2vw;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 200px;
  max-width: 20vw;
  max-height: 20vh;
}

.page__container .page__rz .page__form__cont {
  margin: -70px auto 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__container .page__rz .page__form__cont .page__form__cont__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__container .page__rz .page__form__cont .page__form__cont__content .page__form__cont__content__label {
  margin: 0 0 -10px 0;
}

.page__container .page__rz .page__form__cont .page__form__cont__content .page__form__cont__content__input {
  min-width: 450px;
  min-height: 25px;
  margin: 10px 0;
  padding: 0 10px;
}

.page__container .page__rz .page__form__cont__content__wrapButton {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__container .page__rz .page__form__cont__content__wrapButton .page__form__cont__content__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 3vh;
  background-color: #d88110;
  color: white;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 600;
  border-color: rgba(228, 133, 8, 0.075);
  padding: 0.75rem;
  cursor: pointer;
}

.page__container .page__rz .page__form__cont__content__wrapButton .page__form__cont__content__button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.747);
          box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.747);
}

.page__container .page__btn__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vh;
  margin: 2vh;
}

.page__container .page__btn__cont .page__btn__cont__button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #d88110;
  color: white;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 600;
  border-color: rgba(228, 133, 8, 0.075);
  padding: 0.75rem;
  cursor: pointer;
  min-width: 20vw;
}

.page__container .page__btn__cont .page__btn__cont__button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.747);
          box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.747);
}

.page__container .separador--esp {
  margin: 3rem;
  width: 30%;
  border-style: solid;
  border-color: orange;
}

.page__grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "proy proy" "proy proy";
  -ms-grid-columns: 400px 400px;
      grid-template-columns: 400px 400px;
  -ms-grid-rows: auto auto 300px;
      grid-template-rows: auto auto 300px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__grid .page__grid__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.page__grid h2 {
  font-family: "Lato";
  font-weight: 900;
  font-size: 2rem;
  z-index: 2;
  color: #db6b0f;
  margin: 2vh;
}

.page__grid .page__grid__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  max-width: 350px;
  -webkit-filter: grayscale(100%) opacity(60%);
          filter: grayscale(100%) opacity(60%);
}

.page__grid .page__grid__img:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 4px 4px 1px rgba(219, 107, 15, 0.9);
          box-shadow: 4px 4px 1px rgba(219, 107, 15, 0.9);
  -webkit-filter: grayscale(40%) opacity(100%);
          filter: grayscale(40%) opacity(100%);
}

/* MEDIA QUERY */
@media only screen and (max-width: 860px) {
  .page__grid {
        grid-template-areas: "header header" "proy proy" "proy proy";
    -ms-grid-columns: 210px 210px;
        grid-template-columns: 210px 210px;
    -ms-grid-rows: auto 150px 150px;
        grid-template-rows: auto 150px 150px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page__grid .page__grid__img {
    max-width: 200px;
  }
  .page__container {
    margin-bottom: 0;
  }
  .page__container .page__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page__top__image__container__content {
    display: none;
  }
  .page__verticalLine {
    display: none;
  }
  .page__Line {
    display: none;
  }
  .page__container .page__rz .separador--res {
    display: block;
    margin-top: -45px;
  }
  .page__container .separador--esp {
    margin: -40px auto 20px auto;
  }
  .page__container .page__rz .page__rz__item, .page__container .page__rz .page__rz__item--esp {
    margin: 10% auto 0 auto;
  }
  .page__container .page__rz .page__top__title--large h1 {
    font-size: 5.5rem;
  }
  .page__container .page__rz .page__top__title--large p, .page__container .page__rz .page__top__title--large .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__top__title--large .page__form__cont__content__label {
    font-size: 1.5rem;
  }
  .page__container .page__rz .page__top__title--largeXL h1 {
    font-size: 4.8rem;
  }
  .page__container .separador--esp#separador--cont {
    display: contents;
  }
}

@media only screen and (max-width: 666px) {
  .page__grid {
        grid-template-areas: "header header" "proy proy" "proy proy";
    -ms-grid-columns: 210px 210px;
        grid-template-columns: 210px 210px;
    -ms-grid-rows: auto 150px 150px;
        grid-template-rows: auto 150px 150px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 540px) {
  .page__container {
    margin: -6vh 0 0 0;
    padding: 0;
  }
  .page__container .page__rz .page__top__title h1, .page__container .page__rz .page__top__title--large h1, .page__container .page__rz .page__top__title--largeXL h1 {
    font-size: 5rem;
  }
  .page__container .page__rz .page__rz__item h2, .page__container .page__rz .page__rz__item--esp h2 {
    font-size: 1.75rem;
  }
  .page__container .page__rz .page__rz__item p, .page__container .page__rz .page__rz__item--esp p, .page__container .page__rz .page__rz__item .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__rz__item .page__form__cont__content__label, .page__container .page__rz .page__rz__item--esp .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__rz__item--esp .page__form__cont__content__label {
    text-align: center;
    font-size: 0.75rem;
    max-width: 80%;
  }
  .page__container .page__rz .page__top__title--large h1 {
    font-size: 4rem;
  }
  .page__container .page__rz .page__top__title--large p, .page__container .page__rz .page__top__title--large .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__top__title--large .page__form__cont__content__label {
    font-size: 1rem;
  }
  .page__container .page__rz .page__top__title--largeXL h1 {
    font-size: 3.3rem;
  }
  .page__container .page__rz .page__top__title--largeXL p, .page__container .page__rz .page__top__title--largeXL .page__form__cont .page__form__cont__content .page__form__cont__content__label, .page__container .page__rz .page__form__cont .page__form__cont__content .page__top__title--largeXL .page__form__cont__content__label {
    font-size: 1rem;
  }
  .page__container .page__rz #page__rz__img__position--1 {
    min-width: 140px;
  }
  .page__container .page__rz #page__rz__img__position--2 {
    min-width: 140px;
  }
  .page__container .page__rz #page__rz__img__position--3 {
    min-width: 140px;
  }
  .page__container .page__rz #page__rz__img__position--4 {
    min-width: 140px;
  }
  .page__grid {
        grid-template-areas: "header header" "proy proy" "proy proy";
    -ms-grid-columns: 160px 160px;
        grid-template-columns: 160px 160px;
    -ms-grid-rows: auto 125px 125px;
        grid-template-rows: auto 125px 125px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page__grid .page__grid__img {
    border-radius: 8px;
    max-width: 150px;
  }
  .page__container .page__rz .page__form__cont .page__form__cont__content {
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page__container .page__rz .page__form__cont .page__form__cont__content .page__form__cont__content__input {
    min-width: 40px;
    width: 80%;
  }
  .page__container .page__rz .page__form__cont__content__wrapButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page__container .page__rz .page__form__cont__content__wrapButton .page__form__cont__content__button {
    margin: 10px;
  }
}
/*# sourceMappingURL=styleSCSS.css.map */