* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(251, 247, 255);
    font-size: 4rem;
    line-height: 90%;
    font-family: 'Lato black', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.253);
}
    
p {
    font-family: "Roboto";
    font-size: 1rem;
}

.separador {
    margin: 3rem;
    border-radius: 0.5rem;
    border-style: solid;
    color: rgba(255, 166, 0, 0.699);
    width: 30vw;
}